@import url(http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic);

@font-face {
    font-family: 'exo_black';
    src: url('../fonts/exo2.0-black.eot');
    src: url('../fonts/exo2.0-black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-black.woff') format('woff'),
         url('../fonts/exo2.0-black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_black_italic';
    src: url('../fonts/exo2.0-blackitalic.eot');
    src: url('../fonts/exo2.0-blackitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-blackitalic.woff') format('woff'),
         url('../fonts/exo2.0-blackitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'firaSans';
    src: url('../fonts/firasans.woff') format('woff'),
         url('../fonts/firasans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'firaSansBold';
    src: url('../fonts/firasansbold.woff') format('woff'),
         url('../fonts/firasansbold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_bold';
    src: url('../fonts/exo2.0-bold.eot');
    src: url('../fonts/exo2.0-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-bold.woff') format('woff'),
         url('../fonts/exo2.0-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_bold_italic';
    src: url('../fonts/exo2.0-bolditalic.eot');
    src: url('../fonts/exo2.0-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-bolditalic.woff') format('woff'),
         url('../fonts/exo2.0-bolditalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_extra_bold';
    src: url('../fonts/exo2.0-extrabold.eot');
    src: url('../fonts/exo2.0-extrabold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-extrabold.woff') format('woff'),
         url('../fonts/exo2.0-extrabold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_extra_bold_italic';
    src: url('../fonts/exo2.0-extrabolditalic.eot');
    src: url('../fonts/exo2.0-extrabolditalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-extrabolditalic.woff') format('woff'),
         url('../fonts/exo2.0-extrabolditalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_extra_light';
    src: url('../fonts/exo2.0-extralight.eot');
    src: url('../fonts/exo2.0-extralight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-extralight.woff') format('woff'),
         url('../fonts/exo2.0-extralight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_extra_light_italic';
    src: url('../fonts/exo2.0-extralightitalic.eot');
    src: url('../fonts/exo2.0-extralightitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-extralightitalic.woff') format('woff'),
         url('../fonts/exo2.0-extralightitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_italic';
    src: url('../fonts/exo2.0-italic.eot');
    src: url('../fonts/exo2.0-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-italic.woff') format('woff'),
         url('../fonts/exo2.0-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_light';
    src: url('../fonts/exo2.0-light.eot');
    src: url('../fonts/exo2.0-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-light.woff') format('woff'),
         url('../fonts/exo2.0-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_light_italic';
    src: url('../fonts/exo2.0-lightitalic.eot');
    src: url('../fonts/exo2.0-lightitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-lightitalic.woff') format('woff'),
         url('../fonts/exo2.0-lightitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_medium';
    src: url('../fonts/exo2.0-medium.eot');
    src: url('../fonts/exo2.0-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-medium.woff') format('woff'),
         url('../fonts/exo2.0-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_medium_italic';
    src: url('../fonts/exo2.0-mediumitalic.eot');
    src: url('../fonts/exo2.0-mediumitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-mediumitalic.woff') format('woff'),
         url('../fonts/exo2.0-mediumitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_regular';
    src: url('../fonts/exo2.0-regular.eot');
    src: url('../fonts/exo2.0-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-regular.woff') format('woff'),
         url('../fonts/exo2.0-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_semi_bold';
    src: url('../fonts/exo2.0-semibold.eot');
    src: url('../fonts/exo2.0-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-semibold.woff') format('woff'),
         url('../fonts/exo2.0-semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_semi_bold_italic';
    src: url('../fonts/exo2.0-semibolditalic.eot');
    src: url('../fonts/exo2.0-semibolditalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-semibolditalic.woff') format('woff'),
         url('../fonts/exo2.0-semibolditalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_thin';
    src: url('../fonts/exo2.0-thin.eot');
    src: url('../fonts/exo2.0-thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-thin.woff') format('woff'),
         url('../fonts/exo2.0-thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_thin_italic';
    src: url('../fonts/exo2.0-thinitalic.eot');
    src: url('../fonts/exo2.0-thinitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-thinitalic.woff') format('woff'),
         url('../fonts/exo2.0-thinitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.h1, .h2, .h3, h1, h2, h3 {
    font-family: exo_bold, Helvetica, sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}
body{
  font-family: firaSans, Helvetica, sans-serif;
  padding-top: 78px;
  font-size: 23px;
}
.container .text-muted {
  margin: 20px 0;
}
.navbar-default {
    background-color: #d8ebfa;
    border-color: #e7e7e7;
    height: 76px;
    transition: all 0.4s ease-in;
}
nav.sticky {
   height: 38px;

}
.navbar-brand {
  background: url(../images/logo.png) no-repeat;
width: 121px;
height: 55px;
position: relative;
top: 9px;
transition: all 0.4s ease-in;
background-size: contain;

}
.stickylogo{
    height: 35px!important;
    top: 7px!important;
}
.topmenu{
    font-size: 22px;
    margin-top: 14px;
    transition: all 0.4s ease-in;
    color: #48443d;
    line-height: 38px;
}
.topmenu:hover{
    color: #fffff;
}
.stickytopmenu{
margin-top: 1px;
}
.glyphicon {
    font-size: 24px;
}

a {
    color: #008dd2;
    text-decoration: none;
}
.video {
    display: inline;
}
.subslider{
  position: relative;
  top: 20px;
}
.nav-pills>li.active>a {
    background-color: #008dd2!important;
}

@font-face {
      font-family: 'fontello';
      src: url('../fonts/fontello/fontello.eot?73253451');
      src: url('../fonts/fontello/fontello.eot?73253451#iefix') format('embedded-opentype'),
           url('../fonts/fontello/fontello.woff?73253451') format('woff'),
           url('../fonts/fontello/fontello.ttf?73253451') format('truetype'),
           url('../fonts/fontello/fontello.svg?73253451#fontello') format('svg');
      font-weight: normal;
      font-style: normal;
    }
    .topmenu-icon{
      font-family: "fontello";
      font-style: normal;
      font-weight: normal;
      color: white;
      padding-left: 1px;   
    }
    .submenu-icon {
        font-family: "fontello";
        font-style: normal;
        font-weight: normal;
        width: 1em;
        font-size: 32px;
        float: left;
        padding-left: 32px;
    }
.contact {
      background-image: url(../images/contact_bg.jpg);
      background-position-x: 1%;
      background-position-y: 67%;
}
.navbar-left {
      padding-left: 20px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    left: 0;
}
.navbar-nav>li>a {
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
}
.collapse.in {
    border-color: #008dd2;
    background-color: #d8ebfa;
}
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
    border-bottom-color: #fff;
    background: #008dd2;
    color: white;
}
.h3, h3 {
    margin-top: 10px;
}
.nav>li>a {
    padding: 5px 15px;
}
.footer {
    background-color: #81a2d5;
}
.text-muted {
    color: #fff;
}
.navbar-center{
  padding-left: 26%;
}
.top-icons{
  float: right;
  color:white;
}
.numberCirclevk {
    border-radius: 50%;
    width: 37px;
    height: 37px;
    background: #507299;
    text-align: center;
    font-size: 19px;
}
.numberCircleyt {
    border-radius: 50%;
    width: 37px;
    height: 37px;
    background: #e62117;
    text-align: center;
    font-size: 19px;
}
.numberCirclefb {
    border-radius: 50%;
    width: 37px;
    height: 37px;
    background: #4267b2;
    text-align: center;
    font-size: 19px;
}




/*mobile*/
@media (min-width: 768px){
.navbar-nav>li>a {
padding-top: 5px;
padding-bottom: 5px;
      }
    }
