@import url(http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic);

@font-face {
    font-family: 'exo_black';
    src: url('../fonts/exo2.0-black.eot');
    src: url('../fonts/exo2.0-black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-black.woff') format('woff'),
         url('../fonts/exo2.0-black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_black_italic';
    src: url('../fonts/exo2.0-blackitalic.eot');
    src: url('../fonts/exo2.0-blackitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-blackitalic.woff') format('woff'),
         url('../fonts/exo2.0-blackitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'firaSans';
    src: url('../fonts/firasans.woff') format('woff'),
         url('../fonts/firasans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'firaSansBold';
    src: url('../fonts/firasansbold.woff') format('woff'),
         url('../fonts/firasansbold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_bold';
    src: url('../fonts/exo2.0-bold.eot');
    src: url('../fonts/exo2.0-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-bold.woff') format('woff'),
         url('../fonts/exo2.0-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_bold_italic';
    src: url('../fonts/exo2.0-bolditalic.eot');
    src: url('../fonts/exo2.0-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-bolditalic.woff') format('woff'),
         url('../fonts/exo2.0-bolditalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_extra_bold';
    src: url('../fonts/exo2.0-extrabold.eot');
    src: url('../fonts/exo2.0-extrabold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-extrabold.woff') format('woff'),
         url('../fonts/exo2.0-extrabold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_extra_bold_italic';
    src: url('../fonts/exo2.0-extrabolditalic.eot');
    src: url('../fonts/exo2.0-extrabolditalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-extrabolditalic.woff') format('woff'),
         url('../fonts/exo2.0-extrabolditalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_extra_light';
    src: url('../fonts/exo2.0-extralight.eot');
    src: url('../fonts/exo2.0-extralight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-extralight.woff') format('woff'),
         url('../fonts/exo2.0-extralight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_extra_light_italic';
    src: url('../fonts/exo2.0-extralightitalic.eot');
    src: url('../fonts/exo2.0-extralightitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-extralightitalic.woff') format('woff'),
         url('../fonts/exo2.0-extralightitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_italic';
    src: url('../fonts/exo2.0-italic.eot');
    src: url('../fonts/exo2.0-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-italic.woff') format('woff'),
         url('../fonts/exo2.0-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_light';
    src: url('../fonts/exo2.0-light.eot');
    src: url('../fonts/exo2.0-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-light.woff') format('woff'),
         url('../fonts/exo2.0-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_light_italic';
    src: url('../fonts/exo2.0-lightitalic.eot');
    src: url('../fonts/exo2.0-lightitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-lightitalic.woff') format('woff'),
         url('../fonts/exo2.0-lightitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_medium';
    src: url('../fonts/exo2.0-medium.eot');
    src: url('../fonts/exo2.0-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-medium.woff') format('woff'),
         url('../fonts/exo2.0-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_medium_italic';
    src: url('../fonts/exo2.0-mediumitalic.eot');
    src: url('../fonts/exo2.0-mediumitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-mediumitalic.woff') format('woff'),
         url('../fonts/exo2.0-mediumitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_regular';
    src: url('../fonts/exo2.0-regular.eot');
    src: url('../fonts/exo2.0-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-regular.woff') format('woff'),
         url('../fonts/exo2.0-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_semi_bold';
    src: url('../fonts/exo2.0-semibold.eot');
    src: url('../fonts/exo2.0-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-semibold.woff') format('woff'),
         url('../fonts/exo2.0-semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_semi_bold_italic';
    src: url('../fonts/exo2.0-semibolditalic.eot');
    src: url('../fonts/exo2.0-semibolditalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-semibolditalic.woff') format('woff'),
         url('../fonts/exo2.0-semibolditalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_thin';
    src: url('../fonts/exo2.0-thin.eot');
    src: url('../fonts/exo2.0-thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-thin.woff') format('woff'),
         url('../fonts/exo2.0-thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_thin_italic';
    src: url('../fonts/exo2.0-thinitalic.eot');
    src: url('../fonts/exo2.0-thinitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-thinitalic.woff') format('woff'),
         url('../fonts/exo2.0-thinitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.h1, .h2, .h3, h1, h2, h3 {
    font-family: exo_semi_bold, Helvetica, sans-serif;
}
.h1, h1 {
    font-size: 40px;
    margin-left: 29px;
}
.jumbotron .h1, .jumbotron h1 {
    margin-left: 0;
}
html {
  position: relative;
  min-height: 100%;
}
body{
  font-family: firaSans, Helvetica, sans-serif;
  padding-top: 102px;
  font-size: 23px;
}
.container .text-muted {
  padding-top: 18px;
}
.navbar-default {
    background-color: white;
    border-color: white;
    height: 76px;
    transition: all 0.3s ease-in;
}
nav.sticky {
    height: 32px;
    background-color: #d8ebfa;
    border-color: #d8ebfa;
    box-shadow: 0 2px 2px 0 rgba(72, 68, 73, 0.2)
}
.navbar-default .navbar-nav>li>a {
    color: #48443d;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #4f8ccf;
}
.navbar-brand {
  background: url(../images/big_logo.svg) no-repeat;
    width: 198px;
    height: 90px;
position: relative;
top: 9px;
transition: all 0.3s ease-in;
background-size: contain;

}
.stickylogo{
    height: 45px!important;
    width: 198px;
    top: 3px!important;
}
.topmenu{
    font-size: 22px;
    margin-top: 14px;
    transition: all 0.3s ease-in;
    line-height: 37px;
}
.topmenu:hover{
    color: #fffff;
}
.stickytopmenu{
margin-top: 3px;
}
.glyphicon {
    font-size: 24px;
}

a {
    color: #008dd2;
    text-decoration: none;
}
.video {
    display: inline;
}
.subslider{
  position: relative;
  top: 20px;
}
.nav-pills>li.active>a {
    background-color: #008dd2!important;
}

@font-face {
      font-family: 'fontello';
      src: url('../fonts/fontello/fontello.eot?73253451');
      src: url('../fonts/fontello/fontello.eot?73253451#iefix') format('embedded-opentype'),
           url('../fonts/fontello/fontello.woff?73253451') format('woff'),
           url('../fonts/fontello/fontello.ttf?73253451') format('truetype'),
           url('../fonts/fontello/fontello.svg?73253451#fontello') format('svg');
      font-weight: normal;
      font-style: normal;
    }
    .topmenu-icon{
      font-family: "fontello";
      font-style: normal;
      font-weight: normal;
      color: white;
      padding-left: 1px;   
    }
    .submenu-icon {
        font-family: "fontello";
        font-style: normal;
        font-weight: normal;
        width: 1em;
        font-size: 32px;
        float: left;
        padding-left: 32px;
    }
.contact {
      background-image: url(../images/contact_bg.jpg);
      background-position-x: 1%;
      background-position-y: 67%;
      margin-bottom: 100px;
}
.navbar-left {
      padding-left: 20px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    left: 0;
}
.navbar-nav>li>a {
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
}
.collapse.in {
    border-color: #008dd2;
    background-color: #d8ebfa;
}
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
    border-bottom-color: #d8ebfa;
    background: #d8ebfa;
    color: #333333;
}
.h3, h3 {
    margin-top: 10px;
}
.nav>li>a {
    padding: 5px 15px;
}
.footer {
    background-color: #d8ebfa;
}
.text-muted {
  color: #51443d;
}
.navbar-center{
  padding-left: 19%;
}
.top-icons{
  float: right;
  color:white;
}
.numberCirclevk {
    border-radius: 50%;
    width: 37px;
    height: 37px;
    background: #507299;
    text-align: center;
    font-size: 19px;
}
.numberCircleyt {
    border-radius: 50%;
    width: 37px;
    height: 37px;
    background: #e62117;
    text-align: center;
    font-size: 19px;
}
.numberCirclefb {
    border-radius: 50%;
    width: 37px;
    height: 37px;
    background: #4267b2;
    text-align: center;
    font-size: 19px;
}
.page-header {
    border: none;
    padding: 20px 0 20px;
    margin: 20px 0 20px;
}

/* up to top */
#top-link-block.affix-top {
    position: absolute; 
    bottom: -82px;
    left: 10px;
}
#top-link-block.affix {
    position: fixed;
    bottom: 90px;
    right: 14%;
    transition: all 0.3s ease-in;
}
.carousel-control.right {
  background-image: none;
  margin-right: 20px;
  }
.carousel-control.left {
  background-image: none;
  margin-left: 20px;
  }
.btn-group-xs>.btn, .btn-xs {
  font-size: 13px;
}
.tab-content {
  background-color: #d8ebfa;
  padding: 0 15px 15px 15px;
  margin-bottom: 40px;
}
.nav-tabs>li>a:hover {
    border-color: #ffffff;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #d8ebfa;
}
.glyphicon-chevron-left {
    line-height: 20px;
    margin-left: -14px!important;
}
.glyphicon-chevron-right {
    line-height: 20px;
    margin-right: -14px!important;
}
.carousel-control {
    color: #008dd2;
    text-shadow: none;
    filter: alpha(opacity=60);
    opacity: .6;
    height: 40px;
    top: 45%;
    bottom: 0;
    background-color: white;
    border-radius: 50%;
    width: 40px;
}
.carousel-control:hover {
    color: #008dd2;
    text-decoration: none;
    filter: alpha(opacity=100);
    outline: 0;
    opacity: 1;
}
.carousel-control:focus {
    color: #008dd2;
    opacity: .6;
}
/*mobile*/
@media (min-width: 768px){
.navbar-nav>li>a {
padding-top: 5px;
padding-bottom: 5px;
}
.carousel-caption {
  left: 58%;
  padding-bottom: 43px;
  bottom: 69%;
  right: 33px;
  text-align: right;
  text-shadow: 0 1px 2px rgba(0,0,0,.9);
}
.nav-tabs.nav-justified>li>a {
    border-bottom: 1px solid #d8ebfa;
    }
  }
